@media (min-width: 768px){    
    .contenedor-blog{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .entrada-meta{
        display: flex;
        justify-content: space-between;
        
    }
}


.entrada-blog {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 2rem;
    padding: 2rem 2rem 4rem 2rem;
}

.entrada-blog:last-of-type{
    border: none;
}



.entrada-meta p {
    font-weight: 700;

}
.entrada-meta span{
    color: #037bc0;
}

/* Entarda */
.contenido-entrada-blog{
    width: 60rem;
    margin: auto;
}


