.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.entrada-blog {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
    border: none;
}

.entrada-meta{
    display: flex;
    justify-content: space-between;
}

.entrada-meta p {
    font-weight: 700;

}
.entrada-meta span{
    color: #037bc0;
}

/* Entarda */
.contenido-entrada-blog{
    width: 60rem;
    margin: auto;
}